@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

















.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.section-title_theme-dark {
  color: white;
}

.section-subtitle_theme-dark {
  color: white;
}

.table_theme_dark {
  margin: 0 auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  height: 877px;
  width: 877px;
  background: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  animation: rotation linear 20s infinite;
}

.resources {
  margin-top: 100px;
}

.resources__logo-zone {
  display: flex;
  width: 1100px;
  margin: 80px auto 217px;
}

.resources__logo {
  width: 270px;
  height: 38px;
  transition: opacity 1s;
}

.resources__logo:hover {
  opacity: 0.5;
}

.footer {
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: white;
  min-height: 250px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info {
  margin: 0;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column-links {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  padding: 0px 0px 16px;
  list-style-type: none;
  margin: 0;
}

.footer__column_content_social {
  margin: 0;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.footer__column-link {
  display: block;
  color: white;
  list-style-type: none;
  text-decoration: none;
  transition: opacity 1s;
}

.footer__column-link:hover {
  opacity: 0.5;
}

