.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  position: relative;  
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;  
}

.logo {
  height: 32px;
  width: 182px;      
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;  
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  display: flex;
  width: 730px;
  font-size: 102px;  
  position: absolute;  
  left: 64px;  
  z-index: 2;
  font-weight: 600;  
  line-height: 96px;
}

.header__subtitle {  
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px; 
  line-height: 25px; 
  font-size: 18px;
  z-index: 2;
  font-weight: normal;
}

.header_link {
  position: absolute;
}

.header__main_illustration {
  position: absolute; 
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute; 
  right: 0;
  top: 64px;  
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between; /*флекс-элементы распределятся по всей ширине родителя, разделив свободное пространство поровну*/
  width: 80%;
  margin: 0 auto; /*выравнивание блочного элемента по центру родителя, (width:80%)
  auto по бокам элемента будут равные внешние отступы, выравнивающие элемент по центру*/
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2; 
  font-size: 18px;
  color:#2f80ed;
  font-weight: normal;
  margin-top: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width:80%;
}

.two-columns__paragraph {
  line-height: 34px; 
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 0; /*сверху 30, слева/справа 0, снизу 0 (для первого элемента используем first-of-type*/
} 

.two-columns__paragraph:first-of-type { /*псевдокласс first-of-type (выбор первого), выбираем первый элемент родителя*/
  margin-top:0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold; 
  text-align: center;
  margin: auto;
  
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px auto 0;

}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: auto;

}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.feynman {
  height: 890px;
  position: relative;
  background: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: bottom left;  
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  width: 648px;
  margin: 0 auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px auto;
  width: max-content;
}

.feynman_link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;  
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  z-index: 1;  
}

.section-title_theme-dark{
  color: white;
}

.section-subtitle__theme-dark{
  color: white;
}

.table_theme_dark {
  margin: 0 auto;  
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute; 
  right: -210px;
  top: 0;
  height: 877px;
  width: 877px;
  background: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position:center;
  background-repeat: no-repeat;
  z-index: -1;  
}

.footer { 
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;   
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;  
  color: white;
  position: relative;
  min-height: 250px; 
}

.footer__column_content_copyright {
  flex-basis: 711px; 
}

.logo_place_footer {
  display: flex;
  height: 35px;
  width: 183px; 
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  left: 0;
  bottom: 0; 
}

.footer__column_content_info {
  margin-right: 1em;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column-links {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;  
  padding: 0px 0px 16px;
  list-style-type: none;   
}

.footer__column_content_social {
  color: white;
}

.footer__social-icon {
  margin-right: 10px;  
  height: 16px;
  width: 16px;      
}  

.footer__column-link {
  display: block;
  color: white; 
  list-style-type: none;
  text-decoration: none;         
}